In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
from selenium.webdriver.support import ui
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
import urllib
import time
from selenium.webdriver.common.action_chains import ActionChains
from bs4 import BeautifulSoup
import re
from datetime import datetime

1.	Scrape  the  details  of  most  viewed  videos  on  YouTube  from  Wikipedia.  Url  = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:  
A) Rank
B) Name   
C) Artist   
D) Upload date   
E) Views

In [19]:
name=[]
artist=[]
date=[]
views=[]
driver=webdriver.Chrome() # Opening Chrome
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos') # Opens wikipedia
driver.maximize_window()
time.sleep(3)
# Gets Name,artist,date,views
name.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr/td[1]")])
artist.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr/td[2]")])
date.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr/td[4]")])
views.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[1]/tbody/tr/td[3]")])
driver.quit()
rank=[i for i in range(1,len(name)+1)]
video_details=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Upload Date':date,'Views':views})
video_details.head()

,Rank,Name,Artist,Upload Date,Views
0,1,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.78
1,2,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.33
2,3,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.85
3,4,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.52
4,5,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.15

2) Scrape the details team Indiaâ€™s international fixtures from bcci.tv.   
Url = https://www.bcci.tv/.   
You need to find following details:   
A) Series   
B) Place   
C) Date   
D) Time   
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [12]:
tournament=[]
place=[]
date=[]
time_1=[]
driver=webdriver.Chrome() # Opening Chrome
driver.get('https://www.bcci.tv/') # Opens https://www.bcci.tv/.
driver.maximize_window()
d=driver.find_element(By.XPATH,"//*[contains(@data-element_text,'Fixtures')]") # Fixtures tab

d.click() # clicks on Fixtures tab
time.sleep(10)
tournament.extend([i.text for i in driver.find_elements(By.XPATH,"//h5[starts-with(@class,'match-tournament-name')]")])
place.extend([i.text for i in driver.find_elements(By.XPATH,"//div[starts-with(@class,'match-place')]")])
date.extend([i.text for i in driver.find_elements(By.XPATH,"//div[starts-with(@class,'match-dates')]")])
time_1.extend([i.text for i in driver.find_elements(By.XPATH,"//div[starts-with(@class,'match-time')]")])
time.sleep(10)
driver.quit()
match_details=pd.DataFrame({'Tournament':tournament,'Place':place,'Date':date,'Time':time_1})
match_details.head()

['INDIA TOUR OF SOUTH AFRICA 2023-24', 'AUSTRALIA WOMEN TOUR OF INDIA 2023-24', 'AUSTRALIA WOMEN TOUR OF INDIA 2023-24', 'AUSTRALIA WOMEN TOUR OF INDIA 2023-24', 'INDIA TOUR OF SOUTH AFRICA 2023-24', 'AUSTRALIA WOMEN TOUR OF INDIA 2023-24', 'AUSTRALIA WOMEN TOUR OF INDIA 2023-24', 'AUSTRALIA WOMEN TOUR OF INDIA 2023-24', 'AFGHANISTAN TOUR OF INDIA 2023-24'] ['SuperSport Park, Centurion', 'Wankhede Stadium, Mumbai', 'Wankhede Stadium, Mumbai', 'Wankhede Stadium, Mumbai', 'Newlands, Cape Town', 'DY Patil Stadium, NAVI MUMBAI', 'DY Patil Stadium, NAVI MUMBAI', 'DY Patil Stadium, NAVI MUMBAI', 'Punjab Cricket Association IS Bindra Stadium, Mohali'] ['26 DECEMBER, 2023', '28 DECEMBER, 2023', '30 DECEMBER, 2023', '2 JANUARY, 2024', '3 JANUARY, 2024', '5 JANUARY, 2024', '7 JANUARY, 2024', '9 JANUARY, 2024', '11 JANUARY, 2024'] ['1:30 PM IST', '2:00 PM IST', '2:00 PM IST', '2:00 PM IST', '1:30 PM IST', '7:00 PM IST', '7:00 PM IST', '7:00 PM IST', '7:00 PM IST']

,Tournament,Place,Date,Time
0,INDIA TOUR OF SOUTH AFRICA 2023-24,"SuperSport Park, Centurion","26 DECEMBER, 2023",1:30 PM IST
1,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","28 DECEMBER, 2023",2:00 PM IST
2,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","30 DECEMBER, 2023",2:00 PM IST
3,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","2 JANUARY, 2024",2:00 PM IST
4,INDIA TOUR OF SOUTH AFRICA 2023-24,"Newlands, Cape Town","3 JANUARY, 2024",1:30 PM IST

3. Scrape the details of State-wise GDP of India from statisticstime.com.   
Url = http://statisticstimes.com/   
You have to find following details: A) Rank   
B) State   C) GSDP(18-19)- at current prices   
D) GSDP(19-20)- at current prices   
E) Share(18-19)   
F) GDP($ billion)   
Note: - From statisticstimes home page you have to reach to economy page through code.

In [26]:
rank=[]
state=[]
gsdp_1=[]
gsdp_2=[]
share=[]
gdp=[]
driver=webdriver.Chrome() # Opening Chrome
driver.get('http://statisticstimes.com/') # Opens http://statisticstimes.com/.
driver.maximize_window()
time.sleep(10)
d=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button") # Economy/India
d.click() # clicks on Economy
e=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]") # Economy/India
e.click() # clicks on India
time.sleep(10)
f=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a") # Economy/India
f.click() # clicks on India gdp by states
rank.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[1]")])
state.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[2]")])
gsdp_1.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[3]")])
gsdp_2.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[4]")])
share.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[5]")])
gdp.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[6]")])
driver.quit()
gdp_details=pd.DataFrame({'Rank':rank,'State':state,'GSDP(22-23)':gsdp_1,'GSDP(21-22)':gsdp_2,'Share':share,'GDP':gdp})
gdp_details.head()

  Rank          State GSDP(22-23) GSDP(21-22)   Share      GDP
0    1    Maharashtra           -   3,108,022  13.24%  417.163
1    2     Tamil Nadu   2,364,514   2,071,286   8.82%  278.011
2    3  Uttar Pradesh   2,257,575   1,974,532   8.41%  265.024
3    4      Karnataka   2,241,368   1,962,725   8.36%  263.440
4    5        Gujarat           -   1,937,066   8.25%  259.996

4. Scrape the details of trending repositories on Github.com.   
Url = https://github.com/   
You have to find the following details:   
A) Repository title   
B) Repository description   
C) Contributors count   
D) Language used 
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [20]:
title=[]
desc=[]
count=[]
lang=[]
driver=webdriver.Chrome() # Opening Chrome
driver.get('https://github.com/') # Opens https://github.com/
driver.maximize_window()
time.sleep(10)
d=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button") # Open Sources
d.click() # clicks on Open Source
e=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a") # `trending
e.click() # clicks on Trending
time.sleep(10)
# Only 10 rows
for j in range(1,11):
    try:
        t=driver.find_element(By.XPATH,f"/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article[{j}]/h2/a")
        title.append(t.text)
    except:
        title.append('-')
    try:
        d=driver.find_element(By.XPATH,f"/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article[{j}]/p")
        desc.append(d.text)
    except:
        desc.append('-')
    try:
        c=driver.find_element(By.XPATH,f"/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article[{j}]/div[2]/a[1]")
        count.append(c.text)
    except:
        count.append('-')
    try:
        l=driver.find_element(By.XPATH,f"/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article[{j}]/div[2]/span[1]/span[2]")
        lang.append(l.text)
    except:
        lang.append('-')
driver.quit()
gitrepo_details=pd.DataFrame({'Title':title,'Description':desc,'Count':count,'Language':lang})
gitrepo_details.head()

,Title,Description,Count,Language
0,Frooodle / Stirling-PDF,locally hosted web application that allows you...,"9,546",Java
1,apple / ml-ferret,-,"4,716",Python
2,atomicals / atomicals-js,Atomicals CLI and Javascript Library,831,TypeScript
3,cumulo-autumn / StreamDiffusion,StreamDiffusion: A Pipeline-Level Solution for...,"5,791",Python
4,AmruthPillai / Reactive-Resume,A one-of-a-kind resume builder that keeps your...,"16,153",TypeScript

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/  You have to find the following details:   
A) Song name   
B) Artist name   
C) Last week rank   
D) Peak rank   
E) Weeks on board

In [29]:
music_title=[]
music_artist=[]
last_week=[]
peak=[]
chart_week=[]
driver=webdriver.Chrome() # Opening Chrome
driver.get('https:/www.billboard.com/') # Opens https:/www.billboard.com/
driver.maximize_window()
time.sleep(10)
d=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a") # Open Charts
d.click() # clicks on Charts
time.sleep(10)
e=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a") # View chart
e.click() # clicks on View chart
music_title.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/h3")])
music_artist.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/span")])
last_week.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[4]/span")])
peak.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[5]/span")])
chart_week.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[6]/span")])

driver.quit()
music_details=pd.DataFrame({'Song':music_title,'Artist':music_artist,'Last week rank':last_week,'Peak':peak,'Weeks on board':chart_week})
music_details.head()

,Song,Artist,Last week rank,Peak,Weeks on board
0,All I Want For Christmas Is You,Mariah Carey,1,1,64
1,Rockin' Around The Christmas Tree,Brenda Lee,2,1,57
2,Jingle Bell Rock,Bobby Helms,3,3,55
3,Last Christmas,Wham!,4,4,37
4,A Holly Jolly Christmas,Burl Ives,5,4,38

6. Scrape the details of Highest selling novels.   
A) Book name   
B) Author name   
C) Volumes sold   
D) Publisher   
E) Genre   
      Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [30]:
book_name=[]
author_name=[]
volumes=[]
publisher=[]
genre=[]
rank=[]
driver=webdriver.Chrome() # Opening Chrome
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare') 
rank.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[1]")])
book_name.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]")])
author_name.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]")])
volumes.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]")])
publisher.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]")])
genre.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]")])
driver.quit()
book_details=pd.DataFrame({'Rank':rank,'Title':book_name,'Author':author_name,'Volume (sales)':volumes,'Publisher':publisher,'Genre':genre})
book_details.head()

,Rank,Title,Author,Volume (sales),Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas

7. Scrape the details most watched tv series of all time from imdb.com.   
Url = https://www.imdb.com/list/ls095964455/ You have 
to find the following details:   
A) Name   
B) Year span   
C) Genre   
D) Run time   
E) Ratings   
F) Votes

In [55]:
driver=webdriver.Chrome() # Opening Chrome
driver.get('https://www.imdb.com/chart/tvmeter/?ref_=nv_tvv_mptv') # Opens https://www.imdb.com/list/ls095964455/ 
driver.maximize_window()
d=driver.find_element(By.XPATH,"/html/body/div[2]/main/div/div[3]/section/div/div[2]/div/ul/li[1]/div[3]/button") # Open info
d.click() # clicks on info
time.sleep(10)
run_time=driver.find_element(By.XPATH,"/html/body/div[4]/div[2]/div/div[2]/div/div/div[1]/div[2]/ul[1]/li[2]").text
genre=driver.find_element(By.XPATH,"/html/body/div[4]/div[2]/div/div[2]/div/div/div[1]/div[2]/ul[2]").text
genre=','.join(re.split('(?<=[a-z])(?=[A-Z])',genre))
ratings=driver.find_element(By.XPATH,"/html/body/div[4]/div[2]/div/div[2]/div/div/div[1]/div[2]/div[2]/span").text
# Removing spaces in rating
ratings=re.sub('\n','',ratings)
e=driver.find_element(By.XPATH,"/html/body/div[4]/div[2]/div/div[1]/button") # Close
e.click() # clicks on close
movie_name=driver.find_element(By.XPATH,"/html/body/div[2]/main/div/div[3]/section/div/div[2]/div/ul/li[1]/div[2]/div/div/div[2]/a/h3").text
year=driver.find_element(By.XPATH,"/html/body/div[2]/main/div/div[3]/section/div/div[2]/div/ul/li[1]/div[2]/div/div/div[3]/span[1]").text

votes=driver.find_element(By.XPATH,"/html/body/div[2]/main/div/div[3]/section/div/div[2]/div/ul/li[1]/div[2]/div/div/span/div/span/span").text
# Removing space,(,) characters
votes=re.sub(r'[\s()]','',votes)
driver.quit()
print(movie_name,year,genre,ratings,votes,run_time)

Reacher 2022â€“ Action,Crime,Drama 8.1/10 167K 49min

 
8. Details of Datasets from UCI machine learning repositories.   
Url = https://archive.ics.uci.edu/  You 
have to find the following details:   
A) Dataset name   
B) Data type   
C) Task   
D) Attribute type   
E) No of instances   
F) No of attribute G) Year   
      Note: - from the home page you have to go to the Show All Dataset page through code.

In [12]:
dataset=[]
datatype=[]
task=[]
attribute_type=[]
instance_count=[]
attribute_count=[]
year=[]
driver=webdriver.Chrome() # Opening Chrome
driver.get('https://archive.ics.uci.edu/') # Opens https://archive.ics.uci.edu/
driver.maximize_window()
time.sleep(10)
d=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]") # View datasets
d.click() # clicks on Charts
time.sleep(10)
e=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]") # Expand all
e.click() # clicks on Expand All
time.sleep(10)
dataset.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div/div[2]/h2/a")])
datatype.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/div/div[2]/span")])
task.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/div/div[1]/span")])
instance_count.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/div/div[3]/span")])
attribute_type.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]")])
attribute_count.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/div/div[4]/span")])
year.extend([i.text for i in driver.find_elements(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]")])
driver.quit()

In [13]:
# Extracting the year from the date field
def year_extract(date):
    if date=='N/A':
        return date
    else:
        return date[-4:]
year=list(map(year_extract,year))
year

['1988', '2020', '2019', '1988', '1996', '1991', '1995', 'N/A', '2009', '1997']

In [15]:
dataset_details=pd.DataFrame({'Dataset':dataset,'Datatype':datatype,'Task':task,'Attribute type':attribute_type,'No of instances':instance_count,'No of attribute':attribute_count,'Year':year})
dataset_details.head()

,Dataset,Datatype,Task,Attribute type,No of instances,No of attribute,Year
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,1988
1,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,2020
2,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,7 Features,2019
3,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,1988
4,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,1996