# Web Scraping Assignment

In [15]:
!pip install bs4
!pip install requests
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

Requirement already satisfied: bs4 in c:\users\user\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\user\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.2.post1)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests) (1.26.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests) (2022.12.7)

1)	Write a python program to display all the header tags from wikipedia.org and make data frame.

In [16]:
page=requests.get('http://www.wikipedia.org')
soup=bs(page.content)
# Extracting header tags
header_tags = soup.find_all(['h1', 'h2', 'h3', 'h4', 'h5', 'h6'])
# Removing extra spaces
header_text = [tag.text.strip() for tag in header_tags]
# Creating dataframe
df = pd.DataFrame({'Header Tags': header_text})
df

                          Header Tags
0  Wikipedia\n\nThe Free Encyclopedia
1            1 000 000+\n\n\narticles
2              100 000+\n\n\narticles
3               10 000+\n\n\narticles
4                1 000+\n\n\narticles
5                  100+\n\n\narticles
6          Wikipedia is not for sale.

2) Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) 
from https://presidentofindia.nic.in/former-presidents.html and make data frame.

In [39]:
pres_page=requests.get('https://presidentofindia.nic.in/former-presidents')
pres_name_list=[]
for pres_name in bs(pres_page.content).find_all('div',class_='desc-sec'):
    pres_name_list.append(pres_name.find('h3').text)
president_df=pd.DataFrame({'President Names':pres_name_list})
president_df

                 President Names
0           Shri Ram Nath Kovind
1          Shri Pranab Mukherjee
2   Smt Pratibha Devisingh Patil
3         DR. A.P.J. Abdul Kalam
4           Shri K. R. Narayanan
5        Dr Shankar Dayal Sharma
6            Shri R Venkataraman
7               Giani Zail Singh
8      Shri Neelam Sanjiva Reddy
9       Dr. Fakhruddin Ali Ahmed
10  Shri Varahagiri Venkata Giri
11              Dr. Zakir Husain
12  Dr. Sarvepalli Radhakrishnan
13           Dr. Rajendra Prasad

3)	Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame- 
a)	Top 10 ODI teams in men’s cricket along with the records for matches, points and rating. 
b)	Top 10 ODI Batsmen along with the records of their team andrating. 
c)	Top 10 ODI bowlers along with the records of their team andrating.

In [113]:
# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
men_rank=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
teams=[]
matches=[]
points=[]
ratings=[]
table = bs(men_rank.content).find('table', class_='table')
table_body=table.find('tbody')
rows=table_body.find_all('tr')
for row in rows[:10]:  # Considering only the top 10 teams
    cols = row.find_all('td')
    team = cols[1].find('span',class_='u-hide-phablet').text.strip()
    teams.append(team)

    match = cols[2].text.strip()
    matches.append(match)

    point = cols[3].text.strip()
    points.append(point)

    rating = cols[4].text.strip()
    ratings.append(rating)
# Creating a DataFrame
data = {
    'Team': teams,
    'Matches': matches,
    'Points': points,
    'Rating': ratings
}

men_rank = pd.DataFrame(data)

men_rank

           Team Matches Points Rating
0         India      55  6,640    121
1     Australia      42  4,926    117
2  South Africa      34  3,750    110
3      Pakistan      36  3,922    109
4   New Zealand      43  4,399    102
5       England      38  3,777     99
6     Sri Lanka      47  4,134     88
7    Bangladesh      44  3,836     87
8   Afghanistan      30  2,533     84
9   West Indies      38  2,582     68

In [132]:
#b) Top 10 ODI Batsmen along with the records of their team andrating.
bat_rank=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
bat_name=[]
team_name=[]
bat_ratings=[]
bat_rank_soup=bs(bat_rank.content)
table_1 = bat_rank_soup.find('table', class_='table')
table_body_1=table_1.find('tbody')
rows_1=table_body_1.find_all('tr')
bat_name.append(bat_rank_soup.find('div', class_='rankings-block__banner--name').text.strip())
team_name.append(bat_rank_soup.find('div', class_='rankings-block__banner--nationality').text.strip().split('\n')[0])
bat_ratings.append(bat_rank_soup.find('div', class_='rankings-block__banner--rating').text.strip())
for row in rows_1[0:9]:  # 2 to 10 batsman
    cols = row.find_all('td')
    bat_name.append(cols[1].text.strip())
    team_name.append(cols[2].find('span',class_="table-body__logo-text").text)
    bat_ratings.append(cols[3].text)
# Creating a DataFrame
data_1 = {
    'Batsman': bat_name,
    'Team': team_name,
    'Rating': bat_ratings
}
batsmen_rank = pd.DataFrame(data_1)
batsmen_rank

                 Batsman Team Rating
0           Shubman Gill  IND    826
1             Babar Azam  PAK    824
2            Virat Kohli  IND    791
3           Rohit Sharma  IND    769
4        Quinton de Kock   SA    760
5         Daryl Mitchell   NZ    750
6           David Warner  AUS    745
7  Rassie van der Dussen   SA    735
8           Harry Tector  IRE    729
9            Dawid Malan  ENG    729

In [133]:
# c) Top 10 ODI bowlers along with the records of their team andrating.
bowl_rank=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
bowl_name=[]
team_name=[]
bowl_ratings=[]
bowl_rank_soup=bs(bowl_rank.content)
table_2 = bowl_rank_soup.find_all('table', class_='table')[1]
table_body_2=table_2.find('tbody')
rows_2=table_body_2.find_all('tr')
bowl_name.append(bowl_rank_soup.find_all('div', class_='rankings-block__banner--name')[1].text.strip())
team_name.append(bowl_rank_soup.find_all('div', class_='rankings-block__banner--nationality')[1].text.strip().split('\n')[0])
bowl_ratings.append(bowl_rank_soup.find_all('div', class_='rankings-block__banner--rating')[1].text.strip())
for row in rows_2[0:9]:  # 2 to 10 batsman
    cols = row.find_all('td')
    bowl_name.append(cols[1].text.strip())
    team_name.append(cols[2].find('span',class_="table-body__logo-text").text)
    bowl_ratings.append(cols[3].text)
# Creating a DataFrame
data_2 = {
    'Bowler': bowl_name,
    'Team': team_name,
    'Rating': bowl_ratings
}
bowler_rank = pd.DataFrame(data_2)
bowler_rank

           Bowler Team Rating
0  Keshav Maharaj   SA    741
1  Josh Hazlewood  AUS    703
2  Mohammed Siraj  IND    699
3  Jasprit Bumrah  IND    685
4      Adam Zampa  AUS    675
5     Rashid Khan  AFG    667
6   Kuldeep Yadav  IND    667
7     Trent Boult   NZ    663
8  Shaheen Afridi  PAK    650
9  Mohammad Shami  IND    648

4)	Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame- 
a)	Top 10 ODI teams in women’s cricket along with the records for matches, points and rating. 
b)	Top 10 women’s ODI Batting players along with the records of their team and rating. 
c)	Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [135]:
# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
men_rank=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
teams=[]
matches=[]
points=[]
ratings=[]
table = bs(men_rank.content).find('table', class_='table')
table_body=table.find('tbody')
rows=table_body.find_all('tr')
for row in rows[:10]:  # Considering only the top 10 teams
    cols = row.find_all('td')
    team = cols[1].find('span',class_='u-hide-phablet').text.strip()
    teams.append(team)

    match = cols[2].text.strip()
    matches.append(match)

    point = cols[3].text.strip()
    points.append(point)

    rating = cols[4].text.strip()
    ratings.append(rating)
# Creating a DataFrame
data = {
    'Team': teams,
    'Matches': matches,
    'Points': points,
    'Rating': ratings
}

women_rank = pd.DataFrame(data)

women_rank

           Team Matches Points Rating
0     Australia      21  3,429    163
1       England      23  2,991    130
2  South Africa      21  2,446    116
3         India      18  1,745     97
4   New Zealand      21  2,014     96
5   West Indies      20  1,768     88
6     Sri Lanka       9    714     79
7    Bangladesh      14  1,074     77
8      Thailand      11    753     68
9      Pakistan      24  1,602     67

In [136]:
#b) Top 10 ODI Women Batsmen along with the records of their team andrating.
bat_rank=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
bat_name=[]
team_name=[]
bat_ratings=[]
bat_rank_soup=bs(bat_rank.content)
table_1 = bat_rank_soup.find('table', class_='table')
table_body_1=table_1.find('tbody')
rows_1=table_body_1.find_all('tr')
bat_name.append(bat_rank_soup.find('div', class_='rankings-block__banner--name').text.strip())
team_name.append(bat_rank_soup.find('div', class_='rankings-block__banner--nationality').text.strip().split('\n')[0])
bat_ratings.append(bat_rank_soup.find('div', class_='rankings-block__banner--rating').text.strip())
for row in rows_1[0:9]:  # 2 to 10 batsman
    cols = row.find_all('td')
    bat_name.append(cols[1].text.strip())
    team_name.append(cols[2].find('span',class_="table-body__logo-text").text)
    bat_ratings.append(cols[3].text)
# Creating a DataFrame
data_1 = {
    'Batsman': bat_name,
    'Team': team_name,
    'Rating': bat_ratings
}
batsmen_rank = pd.DataFrame(data_1)
batsmen_rank

                Batsman Team Rating
0  Natalie Sciver-Brunt  ENG    807
1           Beth Mooney  AUS    750
2   Chamari Athapaththu   SL    736
3       Laura Wolvaardt   SA    727
4       Smriti Mandhana  IND    708
5          Alyssa Healy  AUS    698
6          Ellyse Perry  AUS    697
7      Harmanpreet Kaur  IND    694
8           Meg Lanning  AUS    662
9        Marizanne Kapp   SA    642

In [144]:
#b) Top 10 ODI Women AllRounder along with the records of their team andrating.
bowl_rank=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
bowl_name=[]
team_name=[]
bowl_ratings=[]
bowl_rank_soup=bs(bowl_rank.content)
table_2 = bowl_rank_soup.find_all('table', class_='table')[2]
table_body_2=table_2.find('tbody')
rows_2=table_body_2.find_all('tr')
bowl_name.append(bowl_rank_soup.find_all('div', class_='rankings-block__banner--name')[2].text.strip())
team_name.append(bowl_rank_soup.find_all('div', class_='rankings-block__banner--nationality')[2].text.strip().split('\n')[0])
bowl_ratings.append(bowl_rank_soup.find_all('div', class_='rankings-block__banner--rating')[2].text.strip())
for row in rows_2[0:9]:  # 2 to 10 batsman
    cols = row.find_all('td')
    bowl_name.append(cols[1].text.strip())
    team_name.append(cols[2].find('span',class_="table-body__logo-text").text)
    bowl_ratings.append(cols[3].text)
# Creating a DataFrame
data_2 = {
    'Bowler': bowl_name,
    'Team': team_name,
    'Rating': bowl_ratings
}
allround_rank = pd.DataFrame(data_2)
allround_rank

                 Bowler Team Rating
0        Marizanne Kapp   SA    385
1      Ashleigh Gardner  AUS    377
2  Natalie Sciver-Brunt  ENG    360
3       Hayley Matthews   WI    358
4           Amelia Kerr   NZ    346
5         Deepti Sharma  IND    312
6          Ellyse Perry  AUS    282
7              Nida Dar  PAK    240
8         Jess Jonassen  AUS    227
9         Sophie Devine   NZ    227

5)	Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame- 
i) Headline 
ii) Time 
iii) News Link

In [165]:
url = 'https://www.cnbc.com/world/?region=world'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

headlines = []
times = []
news_links = []

articles = soup.find_all('div', class_='LatestNews-container')
for article in articles:
    headline = article.find('a').text.strip()

    time = article.find('time').text.strip()

    news_link =article.find('a')['href']
    if news_link.startswith('/'):
        continue
    headlines.append(headline)
    times.append(time)
    news_links.append(news_link)

# Creating a DataFrame
data = {
    'Headline': headlines,
    'Time': times,
    'News Link': news_links
}

df = pd.DataFrame(data)
df.dropna(inplace=True)
df

,Headline,Time,News Link
0,This habit helped Bill Gates change careers af...,4 Min Ago,https://www.cnbc.com/2023/12/03/how-reading-he...
1,"Charlie Munger's No. 1 tip for a long, happy l...",34 Min Ago,https://www.cnbc.com/2023/12/03/charlie-munger...
2,38-year-old spends $124 on groceries a month—h...,34 Min Ago,https://www.cnbc.com/2023/12/03/tips-for-savin...
3,Can chatbots be sued for illegal wiretap? Old ...,39 Min Ago,https://www.cnbc.com/2023/12/03/can-chatbot-be...
4,There is still time to reduce your tax bill or...,1 Hour Ago,https://www.cnbc.com/2023/12/03/ways-to-reduce...
5,Why a strong Black Friday may not mean a blowo...,2 Hours Ago,https://www.cnbc.com/2023/12/03/what-strong-bl...
6,IMF chief makes the case for carbon pricing at...,6 Hours Ago,https://www.cnbc.com/2023/12/03/imf-chief-make...
7,In Congress and in class: Rep. Don Beyer works...,18 Hours Ago,https://www.cnbc.com/2023/12/02/in-congress-an...
8,Case for gold fever: NewEdge Wealth sees recor...,23 Hours Ago,https://www.cnbc.com/2023/12/02/case-for-gold-...
9,Disney's 'Wish' director left med school for a...,24 Hours Ago,https://www.cnbc.com/2023/12/02/disneys-wish-d...
10,We spent $4.5 million to turn this abandoned s...,24 Hours Ago,https://www.cnbc.com/2023/12/02/schwab-pennsyl...
11,Worth the money: 4 items that will upgrade you...,24 Hours Ago,https://www.cnbc.com/2023/12/02/items-to-upgra...
12,I spent 20 years studying foods 100-year-old p...,24 Hours Ago,https://www.cnbc.com/2023/12/02/i-spent-20-yea...
13,Trailer park caretaker surprises his hometown ...,"December 2, 2023",https://www.cnbc.com/2023/12/02/trailer-park-c...
14,Beyoncé film: Criticism motivated 11-year-old ...,"December 2, 2023",https://www.cnbc.com/2023/12/02/beyonce-film-h...
15,Investors mourn the loss of one-of-a-kind lege...,"December 2, 2023",https://www.cnbc.com/2023/12/02/charlie-munger...
16,How $100 billion mining giant Rio Tinto is poi...,"December 2, 2023",https://www.cnbc.com/2023/12/02/how-rio-tinto-...
17,Social Security benefits are reduced for publi...,"December 2, 2023",https://www.cnbc.com/2023/12/02/social-securit...
18,Pfizer's twice-daily weight loss pill joins a ...,"December 2, 2023",https://www.cnbc.com/2023/12/02/pfizer-weight-...
19,Exxon Mobil CEO urges COP28 climate summit to ...,"December 2, 2023",https://www.cnbc.com/2023/12/02/exxon-mobil-ce...
20,Cramer's optimistic on retail stocks and consu...,"December 1, 2023",https://www.cnbc.com/2023/12/01/cramers-optimi...
21,Cramer's Lightning Round: ImmunityBio is 'a ve...,"December 1, 2023",https://www.cnbc.com/2023/12/01/cramers-lightn...
22,Cramer's week ahead: Pay attention to Friday's...,"December 1, 2023",https://www.cnbc.com/2023/12/01/cramers-week-a...
23,Amazon broke federal labor law in calling Stat...,"December 1, 2023",https://www.cnbc.com/2023/12/01/amazon-broke-f...

Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles 
Scrape below mentioned details and make data frame- 
i)	Paper Title 
ii)	Authors 
iii)	Published Date 
iv)	Paper URL

In [187]:
url = 'https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

titles = []
authors = []
published_dates = []
paper_urls = []

articles = soup.find_all('li',class_="sc-9zxyh7-1 sc-9zxyh7-2 kOEIEO hvoVxs")
for article in articles:
    title = article.find('h2').text.strip()
    titles.append(title)
    author = article.find('p').text.strip()
    authors.append(author)
    published_date = article.find('span', class_='sc-1thf9ly-2 dvggWt').text.strip()
    published_dates.append(published_date)
    paper_url = article.find('a')['href']
    paper_urls.append(paper_url)

# Creating a DataFrame
data_4 = {
    'Paper Title': titles,
    'Authors': authors,
    'Published Date': published_dates,
    'Paper URL': paper_urls
}

journals= pd.DataFrame(data_4)
journals

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller Open AccessFebruary 2019,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden Open AccessAugust 1998,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach Open AccessJanu...",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor Open AccessOcto...",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Sing...",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland Open...",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 moreApril 2021",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi August 2021",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Min...",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 moreOpen ...",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John Open AccessDecember...",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 moreO...",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkran...",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello Open AccessJune 2016,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey Open Ac...",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more...",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 moreJuly 2021",July 2021,https://www.sciencedirect.com/science/article/...

7)	Write a python program to scrape mentioned details from dineout.co.in and make data frame- 
i)	Restaurant name 
ii)	Cuisine 
iii)	Location 
iv)	Ratings 
v)	Image URL

In [216]:
url = 'https://www.dineout.co.in/chennai?loc=Chennai'
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')
# print(soup)
names = []
cuisines = []
locations = []
ratings = []
image_urls = []
restaurants = soup.find('script',crossorigin_='anonymous')

print(restaurants)
# for restaurant in restaurants:
#     name = restaurant.find('div', class_='restnt-info cursor-pointer').find('h2').text.strip()
#     names.append(name)

#     cuisine = restaurant.find('span', class_='double-line-ellipsis').text.strip()
#     cuisines.append(cuisine)

#     location = restaurant.find('span', class_='restnt-Location-text').text.strip()
#     locations.append(location)

#     rating = restaurant.find('div', class_='restnt-rating').text.strip()
#     ratings.append(rating)

#     image_url = restaurant.find('div', class_='restaurant-section').find('img')['src']
#     image_urls.append(image_url)

# # Creating a DataFrame
# data_5 = {
#     'Restaurant name': names,
#     'Cuisine': cuisines,
#     'Location': locations,
#     'Ratings': ratings,
#     'Image URL': image_urls
# }

# rest = pd.DataFrame(data_5)
# rest

None